[Unit]
Description=Mentis Hotel Backend
After=network.target

[Service]
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/mentishotel/backend
ExecStart=/usr/bin/node /home/ubuntu/mentishotel/backend/app.js
Restart=always
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target